html {
    height: 100%;
  }
  body {
    font-family: Verdana, sans-serif;
    margin: 0;
    
    background: url(ressources/giphy\ \(1\).gif);
    overflow: hidden;
    background-size: cover;
  }
  
  .login-box {
    position: absolute;
    top: 58%;
    left: 50%;
    width: 404px;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #e9f7f8;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #5a9293;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  



body{
    background-color: #050426;
}
h1{
    text-align: center;
    color: #3939aa;
}

.divn2{
    display: flex;
    flex-direction: row;
}
.divn3{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.divn4{
    position: absolute;
    left: 43%;
    top: 88%;
}
.divn5{
    flex: 1;
    position: absolute;
    left: 10%;
    top: 41%;
}
.divn6{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.divn7{
    flex: 1;
    position: absolute;
    left: 62.5%;
    top:29%;
}
.divn8{

  flex: 1;
    position: absolute;
    box-shadow: 0 0 0 0 rgba(199, 202, 195, 0.7);
    left: 75%;
    top: 41%;
}
p,h2,h3,label{
    color: white;
}


.coeur {
  text-align: center;
  padding: 30px 50px;
  color: #fff;
  border-radius: 5px;
  background: #141e30;
  box-shadow: 0 0 0 0 rgba(173, 176, 170, 0.7);
  animation: battement 1s infinite cubic-bezier(.66, 0, 0, 1);
  text-decoration: none;
}

@keyframes battement {
  to {
    box-shadow: 0 0 0 30px rgba(255, 71, 84, 0);
  }
}

.b{
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  
  background: #253348;
  color: #fff;
}

.titre{
  text-align: center;
  
}




