
.grille {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    height: 100%;
    flex: 5;
}

@keyframes background-defile {
    from {
        background-position-y: 500px;
    }
    to {
        background-position-y: 3900px;
    }
}

h3 {
    text-align: center;
    margin: 20px 0;
}
.tireur {
    background: url(ressources/vaisseau.png) no-repeat center;
    transform: rotate(180deg);
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute; 
}
@keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(-20px); }
}
.alien {
    background: url(ressources/ennemies.png);
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute; 
}
.boss {
    background: url(ressources/alien.gif);
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute; 
}
.boom {
    background: url(ressources/explosion-gif.gif);
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute; 
}
.laser {
    position: absolute;
    height: 70px;
    width: 10px;
    background: url(ressources/missile.png) center ;
    background-size: cover;
}
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    height: 100%;
    background: url(ressources/background-space.jpg);
    background-position: center;
    animation: background-defile 7s linear infinite;
    overflow: hidden;
}
nav {
    flex: 1;
    background-color: rgba(137, 137, 137, 0.6);
}
#page {
    display: flex;
    flex-direction: row;
    height: 100%;
}
html {
    height: 100%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}
#modal-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.modal-button {
    cursor: pointer;
    margin-right: 60px;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.restart {
    background-color: rgb(0, 170, 255);
}
.leave {
    background-color: rgb(227, 56, 56);
}